$backgrondColor: #f7f8f9;
@mixin colorvsfontsize ($color, $fonSize) {
    color: $color;
    font-size: $fonSize ;
}


@media screen and (min-width: 992px) and (max-width: 1500px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .product-mobile {
        margin-left: 90px;
    }
    .new-mobile {
        padding:0px !important;
    }
    .new-mobile-1 {
        padding-right: 0px !important;
        padding-left: 30px !important;
        
    }
    .desktop {
        display: none;
    }
    .menu {
        display: none;
    }
    .mobile {
        display: block;
        .slogan-mobile {
            text-align: center;
            h1 {
                @include colorvsfontsize(black,30px )
            }
        }
        .menu-mobile {
            .menu-mobile-1 {
                li {
                    list-style-type: none;
                    position: relative;
                    &:hover {
                        .sub-menu-mobile {
                            display: block;
                        }
                    }
                    a {
                        color: black !important ;
                    }
                    .sub-menu-mobile {
                        display: none;
                        position: absolute;
                        padding: 0px;
                        width: 130px;
                        a {
                            color: #354680 !important;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 768px){
    .desktop {
        display: none;
    }
    .menu {
        display: none;
    }
    .mobile {
        .slogan-mobile {
            text-align: center;
            h1 {
                @include  colorvsfontsize(black, 20px );
            }
        }
        .menu-mobile {
            .menu-mobile-1 {
                li {
                    list-style-type: none;
                    &:hover{
                        .sub-menu-mobile{
                            display: block;
                        }
                    }
                    .sub-menu-mobile {
                        display: none;
                    }
                }
            }
        }
    }

}
@media screen and (min-width: 250px) and (max-width: 480px) {
    .desktop, .menu {
        display: none;
    }
    .mobile {
        .slogan-mobile {
            text-align: center;
            h1 {
                @include  colorvsfontsize(black, 18px );
            }
        }
        .menu-mobile {
            .menu-mobile-1 {
                li {
                    list-style-type: none;
                    &:hover{
                        .sub-menu-mobile{
                            display: block;
                        }
                    }
                    .sub-menu-mobile {
                        display: none;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 350px) and (max-width: 992px) {
    .menu-2 {
        .special-2 {
            height: 50px !important;
        }
    }
}
@media screen and (min-width: 350px) and (max-width: 768px)  {
    .news-mobile {
        text-align: center;
    }
}
.header {
    margin-top: 50px;
    .brand {
        text-align: center;
    }
   .name {
       text-transform: uppercase;
       margin-top: 20px;
       h4 {
           font-weight: bold;
       }
   }
   .phone {
       margin-top: 25px;
       text-align: center;
   }
}

.menu {
    background-color: $backgrondColor;
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    li { 
        position: relative;
        &:hover {
            .sub-menu {
                display: block;
            }
        }

        .sub-menu {
            background-color: white;
            width: 252px;
            display: none;
            padding: 0px;
            list-style-type: none;
            position: absolute;
                .a1 {
                    height: 100px;
                    width: 200;
                    display: block;
                }
                a {
                    height: 50px;
                    line-height: 50px;
                    text-decoration: none;
                    display: block;
                }
            }
        }
       
        a {
            padding: 0px;
            &:hover {
                background-color: blue;
                color: white;
            }
        }
        
    }

.service {
    text-align: center;
    margin-top: 50px;
}
.product {
    background-color: $backgrondColor;
    .productt {
        text-align: center;
    }
    .product-row-2 {
        text-align: center;
    }
    .product-row-3 {
        @extend .product-row-2;
    }
}
.menu-2 {
    text-decoration: none;
    list-style-type:none;
    padding-left: 0px;

    .special-1 {
        height: 50px;
        background-color: blue;
        text-align:center;
        a {
            text-transform: uppercase;
            color: white;
            font-weight: bold;
        }
    }
    .special-2 {
        height: 100px;
        a {
            color: red;
            display: block;
            padding-left: 20px;
            &:hover {
                color: white;
                background-color: blue;
            }
        }
    }
    li {
        border: 1px solid #000;
        height: 50px;
        line-height: 50px;
        a {
            text-decoration: none;
            color: red;
            display: block;
            padding-left: 20px;
            &:hover {
                background-color: blue;
                color:white;
            }
        }
    }
}
.partner {
    background-color: #3f3f3f;
    text-align: center;
    h5 {
        color: white;
    }
}
.footer {
    border-top: 2px solid white;
    background-color: #252525;
    .menu-3 {
        border-bottom: 1px solid white;
        a {
            color: white;
            &:hover {
                color: white;
                background-color: blue;
            }
        }
    }
    .brandd {
        margin-right: 10px;
    }
    .infor {
        margin-left: 10px;
        h6{
            color: white;
            width: 350px;;
        }
        p {
            color: white;
        }
    }
}
.form {
    .submit {
        width: 60px;
        height: 30px;
        padding: 0px;
        border-radius: 15px;
    }
}