@media screen and (min-width: 250px) and (max-width: 992px) {
  .banner {
    margin-top: 150px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1500px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .product-mobile {
    margin-left: 90px;
  }
  .new-mobile {
    padding: 0px !important;
  }
  .new-mobile-1 {
    padding-right: 0px !important;
    padding-left: 30px !important;
  }
  .desktop {
    display: none;
  }
  .menu {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile .slogan-mobile {
    text-align: center;
  }
  .mobile .slogan-mobile h1 {
    color: black;
    font-size: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .desktop {
    display: none;
  }
  .menu {
    display: none;
  }
  .mobile .slogan-mobile {
    text-align: center;
  }
  .mobile .slogan-mobile h1 {
    color: black;
    font-size: 20px;
  }
}

@media screen and (min-width: 250px) and (max-width: 480px) {
  .desktop, .menu {
    display: none;
  }
  .mobile .slogan-mobile {
    text-align: center;
  }
  .mobile .slogan-mobile h1 {
    color: black;
    font-size: 18px;
  }
}

@media screen and (min-width: 350px) and (max-width: 992px) {
  .menu-2 .special-2 {
    height: 50px !important;
  }
}

@media screen and (min-width: 350px) and (max-width: 768px) {
  .news-mobile {
    text-align: center;
  }
}

.header {
  margin-top: 50px;
}

.header .brand {
  text-align: center;
}

.header .name {
  text-transform: uppercase;
  margin-top: 20px;
}

.header .name h4 {
  font-weight: bold;
}

.header .phone {
  margin-top: 25px;
  text-align: center;
}

.menu {
  background-color: #f7f8f9;
  margin-top: 20px;
  height: 50px;
  line-height: 50px;
}

.menu li {
  position: relative;
}

.menu li:hover .sub-menu {
  display: block;
  text-align: left;
}

.menu li .sub-menu {
  background-color: white;
  width: 252px;
  display: none;
  padding: 0px;
  list-style-type: none;
  position: absolute;
}

.menu li .sub-menu .a1 {
  height: 100px;
  width: 200;
  display: block;
  padding-left: 20px;
}

.menu li .sub-menu a {
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  display: block;
}

.menu a {
  padding: 0px;
}

.menu a:hover {
  background-color: blue;
  color: white;
}

.service {
  text-align: center;
  margin-top: 50px;
}

.product {
  background-color: #f7f8f9;
}

.product .productt {
  text-align: center;
}

.product .product-row-2, .product .product-row-3 {
  text-align: center;
}

.menu-2 {
  text-decoration: none;
  list-style-type: none;
  padding-left: 0px;
}

.menu-2 .special-1 {
  height: 50px;
  background-color: blue;
  text-align: center;
}

.menu-2 .special-1 a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.menu-2 .special-2 {
  height: 100px;
}

.menu-2 .special-2 a {
  color: red;
  display: block;
  padding-left: 20px;
}

.menu-2 .special-2 a:hover {
  color: white;
  background-color: blue;
}

.menu-2 li {
  border: 1px solid #000;
  height: 50px;
  line-height: 50px;
}

.menu-2 li a {
  text-decoration: none;
  color: red;
  display: block;
  padding-left: 20px;
}

.menu-2 li a:hover {
  background-color: blue;
  color: white;
}

.partner {
  background-color: #3f3f3f;
  text-align: center;
}

.partner h5 {
  color: white;
}

.footer {
  border-top: 2px solid white;
  background-color: #252525;
}

.footer .menu-3 {
  border-bottom: 1px solid white;
}

.footer .menu-3 a {
  color: white;
}

.footer .menu-3 a:hover {
  color: white;
  background-color: blue;
}

.footer .brandd {
  margin-right: 10px;
}

.footer .infor {
  margin-left: 10px;
}

.footer .infor h6 {
  color: white;
  width: 350px;
}

.footer .infor p {
  color: white;
}

.form .submit {
  width: 60px;
  height: 30px;
  padding: 0px;
  border-radius: 15px;
}
/*# sourceMappingURL=style.css.map */